h2 {
  color: green;
  font-style: italic;
}

h3 {
  color: gray;
  font-weight: normal;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.info {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;

}

.blog {

}

.blogTitle {
  color: gray;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 5px;
}
